.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between; /* Distribute items evenly along the main axis */
}

.card {
    flex: 0 1 calc(16.666% - 20px); /* 16.666% is approximately 1/6 for 6 items per row */
    flex-basis: calc(16.666% - 20px); /* 16.666% is approximately 1/6 for 6 items per row */
    margin: 1% 1% 1% 1%;

}

@media (max-width: 1200px) {
    .card {
        flex-basis: calc(20% - 20px); /* Adjust width for smaller screens */
    }
}

@media (max-width: 992px) {
    .card {
        flex-basis: calc(25% - 20px); /* Adjust width for smaller screens */
    }
}

@media (max-width: 768px) {
    .card {
        flex-basis: calc(33.333% - 20px); /* Adjust width for smaller screens */
    }
}

@media (max-width: 576px) {
    .card {
        flex-basis: calc(50% - 20px); /* Adjust width for smaller screens */
    }
}

.he80{
    height: 80%;
}
