@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}
@media (min-width: 1400px) {
.my-3 {
  max-width: 100%;
}
}
@media (min-width: 1200px){
.my-3 {
   max-width: 100%;
}}
@media (min-width: 992px){
.my-3 {
   max-width: 100%;
}}
@media (min-width: 768px){
.my-3 {
   max-width: 100%; 
}}
@media (min-width: 576px){
.my-3 {
   max-width: 100%;
}}
.img-fluid, .card {
border-radius:var(--bs-border-radius-xl)!important;
background-color: var(--bs-body-bg);
}
@media (min-width: 576px){
.col-md-3 {
   width: 100%;
}}
@media (min-width: 768px){
.col-md-3 {
   width: 50%; 
}}
@media (min-width: 992px){
.col-md-3 {
   width: 33%;
}}

@media (min-width: 1200px){
.col-md-3 {
   width: 25%;
}}
@media (min-width: 1400px) {
.col-md-3 {
  width: 20%;
}
}
.card-img-overlay {
  position: relative;
}