.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  @media (min-width: 992px) {
.rounded-lg-3 { border-radius: .3rem; }
}
.py-5 {
  padding-top: 0.5rem!important;
  padding-bottom: 0.5rem!important;
}



@media (min-width: 1400px) {
.my-5 {
    max-width: 100%;
}
}
@media (min-width: 1200px){
.my-5 {
     max-width: 100%;
}}
@media (min-width: 992px){
.my-5 {
     max-width: 100%;
}}
@media (min-width: 768px){
.my-5 {
     max-width: 100%; 
}}
@media (min-width: 576px){
.my-5 {
     max-width: 100%;
}}



@media (min-width: 1400px) {
     .nomargin {
         max-width: 100% !important;
     }
 }
 
 @media (min-width: 1200px) {
     .nomargin {
         max-width: 100% !important;
     }
 }
 
 @media (min-width: 992px) {
     .nomargin {
         max-width: 100% !important;
     }
 }
 
 @media (min-width: 768px) {
     .nomargin {
         max-width: 100% !important;
     }
 }
 
 @media (min-width: 576px) {
     .nomargin {
         max-width: 100% !important;
     }
 }
 
.he50{
    height: 50%;
}

.he80{
     height: 80%;
 }